
<h2>EMP DTL</h2>
<p>This is The Employee Management System</p>

<label>Name</label>
<input type="text" class="form-control" [(ngModel)]="employee.name" placeholder="Enter The Name" >
<label>
    Email
</label>
<input type="text" class="form-control" [(ngModel)]="employee.email" placeholder="Enter Email" >
<label>Phone</label>
<input type="text" class="form-control" [(ngModel)]="employee.phone" placeholder="Enter Phone">
<label>Department</label>
<input type="text" class="form-control" [(ngModel)]="employee.department" placeholder="Enter Department">
<label>Designation</label>
<input type="text" class="form-control" [(ngModel)]="employee.designation" placeholder="Enter Designation">
<label>ManagerId</label>
<input type="text" class="form-control" [(ngModel)]="employee.managerId" placeholder="Enter ManagerId">

<button class="btn btn-primary" 
        (click)="saveemployee()">
         {{ isEdit ? 'Update Employee' : 'Add Employee' }}

</button>

<table class="table table-bordered table-striped mt-5">

        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Designation</th>
                <th>ManagerId</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emploop of employees">
                <td>{{emploop.id}}</td>
                <td>{{emploop.name}}</td>
                <td>{{emploop.email}}</td>
                <td>{{emploop.salary}}</td>
                <td>{{emploop.department}}</td>
                <td>{{emploop.designation}}</td>
                <td>{{emploop.managerId}}</td>

            </tr>
        </tbody>
