
<h2>EMP DTL</h2>
<p>This is The Employee Management System</p>

<label>Name</label>
<input type="text" class="form-control" [(ngModel)]="employee.name" placeholder="Enter The Name" >
<label>
    Email
</label>
<input type="text" class="form-control" [(ngModel)]="employee.email" placeholder="Enter Email" >
<label>Phone</label>
<input type="text" class="form-control" [(ngModel)]="employee.phone" placeholder="Enter Phone">
<label>Department</label>
<input type="text" class="form-control" [(ngModel)]="employee.department" placeholder="Enter Department">
<label>Designation</label>
<input type="text" class="form-control" [(ngModel)]="employee.designation" placeholder="Enter Designation">
<label>ManagerId</label>
<input type="text" class="form-control" [(ngModel)]="employee.managerid" placeholder="Enter ManagerId">
